In [ ]:
Exercise 1: Create a Jupyter Notebook

In [ ]:
Exercise 2: Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem</h1>

In [ ]:
Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>Go</li>
    <li>Scala</li>
    </ol>

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Tensorflow</li>
    <li>Seaborn</li>
    <li>Sci-kit Learn</li>
</ol>

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr><td>KNIME</td></tr>
<tr><td>Apache Spark</td></tr>
<tr><td>IBM Watson</td></tr>
</table>

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
5+4

9

In [4]:
5*9

45

In [5]:
25/5

5.0

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [7]:
200/6

33.333333333333336

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

<h2>Author:</h2>
Shubham Khandelwal

In [ ]:
Exercise 12 - Share your notebook through GitHub